{% extends '/front/index.html.twig' %}
{% block title %}Association index{% endblock %}

{% block body %}
{% include 'front/navbar.html.twig' %}
    <h1>Association index</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Description</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for association in associations %}
            <tr>
                
                <td>{{ association.Nom }}</td>
                <td>{{ association.Email }}</td>
                <td>{{ association.Telephone }}</td>
                <td>{{ association.Description }}</td>
                <td>{{ association.Adresse }}</td>
                <td>
                    <a href="{{ path('app_association_show', {'id_association': association.id}) }}">show</a>
                    <a href="{{ path('app_association_edit', {'id_association': association.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_association_new') }}">Create new</a>
{% endblock %}
