{% extends 'back/Dashboard.html.twig' %}

{% block title %}Détails du Produit{% endblock %}

{% block body %}
    <h1>{{ produit.nom }}</h1>
    <p>Description: {{ produit.description }}</p>
    <p>Prix: {{ produit.prix }}</p>
    {% if produit.photo %}
        <img src="{{ asset('uploads/' ~ produit.photo) }}" alt="Photo du produit">
    {% endif %}
    <a href="{{ path('app_produit_index') }}">Retour à la liste</a>
{% endblock %}
