{{ form_start(form) }}
    {{ form_row(form.Contenu) }}
    {{ form_row(form.DateReponse) }}
    {{ form_row(form.Statut) }}
    <button type="submit" class="btn btn-success">💾 Enregistrer</button>
{{ form_end(form) }}