{% extends '/front/index.html.twig' %}

{% block title %}Reponse{% endblock %}

{% block body %}
{% include 'front/navbar.html.twig' %}
    <h1>Reponse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID_Reponse</th>
                <td>{{ reponse.IDReponse }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ reponse.Contenu }}</td>
            </tr>
            <tr>
                <th>Date_Reponse</th>
                <td>{{ reponse.DateReponse ? reponse.DateReponse|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ reponse.Statut }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reponse_index') }}">back to list</a>

    <a href="{{ path('app_reponse_edit', {'ID_Reponse': reponse.ID_Reponse}) }}">edit</a>

    {{ include('reponse/_delete_form.html.twig') }}
{% endblock %}
