{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="signup-wrapper">
    <h1>Créer un compte</h1>

    {{ form_start(registrationForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
        {{ form_row(registrationForm.cin) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.num_tel) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.genre) }}
        {{ form_row(registrationForm.photo_utilisateur) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.confirmPassword) }}
        <button class="signup-button">S’inscrire</button>
    {{ form_end(registrationForm) }}

    <p class="signup-footer">
        Vous avez déjà un compte ? <a href="{{ path('login') }}">Se connecter</a>
    </p>
</div>
{% endblock %}
