{{ form_start(form) }}

<div class="form-group mb-3">
    {{ form_label(form.status, 'Statut de la commande') }}
    {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.status) }}
</div>

<button class="btn btn-success">{{ button_label|default('Mettre à jour') }}</button>

{{ form_end(form) }}
