{% extends 'base.html.twig' %}

{% block title %}Feedback index{% endblock %}

{% block body %}
    <h1>Feedback index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_FeedBack</th>
                <th>Contenu</th>
                <th>Date_creation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for feedback in feedback %}
            <tr>
                <td>{{ feedback.idFeedBack }}</td>
                <td>{{ feedback.contenu }}</td>
                <td>{{ feedback.dateCreation ? feedback.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_feedback_show', {'id_FeedBack': feedback.id_FeedBack}) }}">show</a>
                    <a href="{{ path('app_feedback_edit', {'id_FeedBack': feedback.id_FeedBack}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_feedback_new') }}">Create new</a>
{% endblock %}
