{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Categorie_id</th>
                <th>Nom_categorie</th>
                <th>Description</th>
                <th>ImageUrl</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.categorieId }}</td>
                <td>{{ categorie.nomCategorie }}</td>
                <td>{{ categorie.description }}</td>
                <td>{{ categorie.imageUrl }}</td>
                <td>
                    <a href="{{ path('app_categorie_show', {'categorie_id': categorie.categorie_id}) }}">show</a>
                    <a href="{{ path('app_categorie_edit', {'categorie_id': categorie.categorie_id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new') }}">Create new</a>
{% endblock %}
